body {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    max-width: 320px;
    background-color: #fff;
}

.button__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    width: 33px;
    margin: 8px;
    transition: all 0.2s ease-in;
}

.button:hover {
    transform: scale(1.2);
}

.button__settings-img {
    transition: all 0.2s ease-in;
}

.button__settings-img:hover {
    transform: rotate(360deg);
}

.chat {
    height: 440px;
    border: 1px solid #000000;
    margin: 0 8px;
    min-width: 304px;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 10px;
}

.message {
    border-radius: 10px;
    width: 88%;
    height: fit-content;
    font-size: 20px;
    border: 1px solid #30892a;
    padding: 4px 9px;
    background: #F7F7F7;
}

.message__user {
    align-self: end;
}

.template__message {}

.send__form {
    display: grid;
    grid-template-columns: 1fr 46px;
    gap: 8px;
}

.input__button {
    width: auto;
    border: 1px solid #000000;
    padding: 6px 0 6px 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.input__button:hover,
.input__button:focus {
    transform: scale(1.01);
}

.button__send {
    transform: translateX(-5px);
}

.button__send:hover {
    transform: scale(1.2) translateX(-5px);
}

.send {
    transform: rotate(45deg) translate(-3px, 6px);
}